<%= provide(:title, @user.name) %>
<div class="container">
	<div class="row">
		<div class="col-md-2">
			<h1><%= @user.name %></h1>
		</div>
		<div class="col-md-4">
		<% if @user.created_events.any? %>
			<h1>My Events:</h1>
			<ul class="event-list">
				<% @events.each do |event| %>
					<li class="list-group-item">
						<h3><%= link_to event.title, event %></h3>
						<h5>Date: <%= event.date %> | Location: <%= event.location %></h5>
						<p><%= event.description %></p>
					</li>
				<% end %>
			</ul>
			
		<% end %>
		</div>
		<div class="col-md-4">
			<% if @attended_events.any? %>
				<h1>Attending:</h1>
				<ul class="event-list">
				<% @attended_events.each do |event| %>
					<li class="list-group-item">
						<h3><%= link_to event.title %></h3>
						<h5><%= event.date %> | <%= event.location %></h5>
						<p><%= event.description %></p>
					</li>
				<% end %>
				</ul>
			<% end %>
		</div>
	</div>
</div>