<% provide(:title, "New Event") %>
<div class="container">
	<div class="row">
	<h1 class="center">New Event</h1>
		<div class="col-md-8 col-md-offset-2">
			<%= form_for(@event) do |f| %>
					<%= f.label :title, "Event Name" %>
					<%= f.text_field :title, class:"form-control"%>

					<%= f.label :date %>
					<%= f.text_field :date, class:"form-control" %>

					<%= f.label :location %>
					<%= f.text_field :location, class:"form-control" %>

					<%= f.label :description %>
					<%= f.text_area :description, class:"form-control", rows:"10" %>

					<%= f.submit "Create Event", class:"btn btn-primary form-control btn-margin" %>
			<% end %>
			  
		</div>
	</div>
</div>